In [1]:
import os
print(os.getcwd())

/Users/andrii/Documents/londons_fashionable_finds/04_Model

In [2]:
os.chdir('/Users/andrii/Documents/londons_fashionable_finds')

In [3]:
import pandas as pd

# Load the CSV into a DataFrame
shops = pd.read_csv('03_EDA/cleaned_shops.csv')
shops = shops.drop(columns=['Unnamed: 0'])

In [4]:
from IPython.display import display

display(shops)

,Shop_Name,Address,Latitude,Longitude,Rating,Reviews_Count,Place_ID,Price_Level,types,Borough,Property_Value_2017,Earnings_2021,IMD_Rank,Income_Rank
0,CIRCA VINTAGE,"87a Lansdowne Way, London",51.474835,-0.128693,4.7,9,ChIJmdDiKHUPdkgR9QrMOgW2vjc,NaN,"jewelry_store, home_goods_store, clothing_stor...",Lambeth,510000.0,673.6,11294.589888,11605.471910
1,Retromania Fara London,"6 Upper Tachbrook St, London",51.493377,-0.139957,4.3,76,ChIJTzZgDuAEdkgR7NUgOuToH4k,NaN,"clothing_store, store, point_of_interest, esta...",Westminster,1070000.0,771.6,16194.968750,16175.703125
2,Leona,"Brixton Village, Unit 5 Coldharbour Ln, London",51.462156,-0.111480,5.0,4,ChIJ5x9QqWgEdkgRQM3g8mE6ay8,NaN,"clothing_store, store, point_of_interest, esta...",Lambeth,510000.0,673.6,11294.589888,11605.471910
3,ReBelished,"36 Hammersmith Grove, London",51.495415,-0.226249,0.0,0,ChIJ79eAhtQPdkgRO5DhIpyyhhM,NaN,"clothing_store, store, point_of_interest, esta...",Hammersmith and Fulham,740000.0,714.5,14202.601770,13752.920354
4,Chelsea Vintage Couture,"Office - Showroom, BY APPOINTMENT ONLY, Sloane...",51.492457,-0.165966,4.7,45,ChIJhe7IZxoFdkgRb3pI8hrLrlw,NaN,"clothing_store, store, point_of_interest, esta...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,Haven House Children's Hospice Shop: Leytonstone,"849 High Road, London",51.569737,0.012280,4.8,22,ChIJ4fSpmm-n2EcR22L0FEDSTYk,NaN,"store, point_of_interest, establishment",Waltham Forest,430000.0,624.7,11735.375000,11745.701389
459,Sue Ryder,"93-95 High St, London",51.582491,-0.029880,4.3,29,ChIJ3XURusYddkgR-kfvsia9vJY,1.0,"point_of_interest, store, establishment",Waltham Forest,430000.0,624.7,11735.375000,11745.701389
460,Cancer Research UK,"13 The Broadway, London",51.578813,-0.123953,4.7,7,ChIJ8abYTccbdkgRuWlgpSbn4h8,NaN,"clothing_store, home_goods_store, point_of_int...",Haringey,487500.0,542.6,11291.917241,11348.386207
461,Barnardo's,"Greater, 2 Broadway Parade, London",51.579977,-0.123170,4.1,8,ChIJdUsFzsAbdkgR5I9nBFVUidM,NaN,"point_of_interest, store, establishment",Haringey,487500.0,542.6,11291.917241,11348.386207
462,Cancer Research UK,"7 High Rd, London",51.590810,-0.104049,4.5,6,ChIJYdn15PobdkgRvXODN5ADavE,NaN,"clothing_store, home_goods_store, point_of_int...",Haringey,487500.0,542.6,11291.917241,11348.386207

In [5]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Shop_Name            463 non-null    object
 1   Address              463 non-null    object
 2   Latitude             463 non-null    float64
 3   Longitude            463 non-null    float64
 4   Rating               463 non-null    float64
 5   Reviews_Count        463 non-null    int64
 6   Place_ID             463 non-null    object
 7   Price_Level          74 non-null     float64
 8   types                463 non-null    object
 9   Borough              463 non-null    object
 10  Property_Value_2017  463 non-null    float64
 11  Earnings_2021        463 non-null    float64
 12  IMD_Rank             463 non-null    float64
 13  Income_Rank          463 non-null    float64
dtypes: float64(8), int64(1), object(5)
memory usage: 50.8+ KB

- **Rating**: The rating of a shop indicates its overall customer satisfaction and quality of service. Higher ratings are generally associated with better shopping experiences and can influence the perceived value of the shop. Including rating as a factor in the composite score helps identify shops with higher customer satisfaction.
- **Property_Value_2017**: The property value of the shop's location in 2017 can be an important factor when assessing the shop's worth. A higher property value may indicate a more desirable location, which could have a positive impact on the shop's performance. Including property value as a factor helps capture the influence of location on the shop's overall value.
- **Earnings_2021**: The shop's earnings in 2021 reflect its financial performance and profitability. Higher earnings suggest a more successful and potentially more valuable shop. Including earnings as a factor in the composite score helps capture the shop's financial strength and value.
- **Reviews_Count**: The number of reviews a shop has received can be considered a proxy for the shop's popularity. More reviews often indicate a higher level of customer engagement and interest in the shop. Including the review count as a factor in the composite score helps capture the influence of a shop's popularity on its overall value.
- **Price_Level**: The price level of a shop represents the general price range of its products and services. Higher price levels often indicate a more upscale and exclusive shopping experience. Including the price level as a factor in the composite score helps capture the influence of the shop's pricing strategy on its overall value.

In [9]:
import pandas as pd

# Define the importance weights for each factor
weight_rating = 0.4
weight_reviews_count = 0.3
weight_property_value = 0.2
weight_earnings = 0.2
weight_price_level = 0.1

# Replace missing values in Price_Level column with the mean value
shops['Price_Level'].fillna(shops['Price_Level'].mean(), inplace=True)

# Normalize the variables
shops['Rating_normalized'] = (shops['Rating'] - shops['Rating'].min()) / (shops['Rating'].max() - shops['Rating'].min())
shops['Property_Value_2017_normalized'] = (shops['Property_Value_2017'] - shops['Property_Value_2017'].min()) / (shops['Property_Value_2017'].max() - shops['Property_Value_2017'].min())
shops['Earnings_2021_normalized'] = (shops['Earnings_2021'] - shops['Earnings_2021'].min()) / (shops['Earnings_2021'].max() - shops['Earnings_2021'].min())
shops['Reviews_Count_normalized'] = (shops['Reviews_Count'] - shops['Reviews_Count'].min()) / (shops['Reviews_Count'].max() - shops['Reviews_Count'].min())
shops['Price_Level_normalized'] = (shops['Price_Level'] - shops['Price_Level'].min()) / (shops['Price_Level'].max() - shops['Price_Level'].min())

# Calculate the composite score for each shop using the weighted scoring model and normalized variables
shops['composite_score'] = (shops['Rating_normalized'] * weight_rating) + \
                           (shops['Property_Value_2017_normalized'] * weight_property_value) + \
                           (shops['Earnings_2021_normalized'] * weight_earnings) + \
                           (shops['Reviews_Count_normalized'] * weight_reviews_count) + \
                           (shops['Price_Level_normalized'] * weight_price_level)

# Rank the shops by composite score in descending order
ranked_shops = shops.sort_values('composite_score', ascending=False)

In [10]:
shops['composite_score'].describe()

count    463.000000
mean       0.506613
std        0.160903
min        0.037110
25%        0.414405
50%        0.504438
75%        0.608517
max        1.021924
Name: composite_score, dtype: float64

In [11]:
# Print the top 10 shops by composite score
display(ranked_shops.head(10))

,Shop_Name,Address,Latitude,Longitude,Rating,Reviews_Count,Place_ID,Price_Level,types,Borough,Property_Value_2017,Earnings_2021,IMD_Rank,Income_Rank,composite_score,Rating_normalized,Property_Value_2017_normalized,Earnings_2021_normalized,Reviews_Count_normalized,Price_Level_normalized
35,Beyond Retro Soho,"19-21 Argyll St, London",51.515011,-0.141187,4.3,434,ChIJWf0T1NQEdkgRG5oaSfx9paQ,2.000000,"clothing_store, store, point_of_interest, esta...",Westminster,1070000.0,771.6,16194.968750,16175.703125,1.021924,0.86,0.847953,1.000000,0.861111,0.500000
44,Rokit Covent Garden,"42 Shelton St, London",51.514075,-0.124438,4.2,355,ChIJXYDtx8wEdkgRQxiyB6nzf2E,1.067568,"clothing_store, store, point_of_interest, esta...",Westminster,1070000.0,771.6,16194.968750,16175.703125,0.920279,0.84,0.847953,1.000000,0.704365,0.033784
144,ATIKA,"55-59 Hanbury St, London",51.520374,-0.070948,4.3,416,ChIJSYVmBrYcdkgRS8-DuFnCA_Q,3.000000,"clothing_store, store, point_of_interest, esta...",Tower Hamlets,475000.0,680.3,10369.312500,9075.000000,0.842290,0.86,0.152047,0.601310,0.825397,1.000000
8,Hornets,"2 & 4 Kensington Church Walk, London",51.502533,-0.192820,4.9,35,ChIJo9d0O_cPdkgRt78JxXP26rc,1.067568,"clothing_store, store, point_of_interest, esta...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.812194,0.98,1.000000,0.979913,0.069444,0.033784
119,AntikBar - Original Vintage Posters,"404 King's Rd, London",51.483615,-0.177151,4.9,21,ChIJqZf1S2UFdkgRKbUQ3cxlYgs,1.067568,"book_store, art_gallery, store, point_of_inter...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.803861,0.98,1.000000,0.979913,0.041667,0.033784
68,Oliver Vintage,"Unit 7, Portobello Green Arcade, 281 Portobell...",51.518562,-0.207352,5.0,5,ChIJJ-Eh6x4QdkgRoN6mW7fvrfA,1.067568,"clothing_store, point_of_interest, store, esta...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.802337,1.00,1.000000,0.979913,0.009921,0.033784
4,Chelsea Vintage Couture,"Office - Showroom, BY APPOINTMENT ONLY, Sloane...",51.492457,-0.165966,4.7,45,ChIJhe7IZxoFdkgRb3pI8hrLrlw,1.067568,"clothing_store, store, point_of_interest, esta...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.802147,0.94,1.000000,0.979913,0.089286,0.033784
121,vintage clothing,London,51.523625,-0.206717,5.0,1,ChIJdXo0VsURdkgR2snk9q1QDRo,1.067568,"clothing_store, point_of_interest, store, esta...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.799956,1.00,1.000000,0.979913,0.001984,0.033784
66,Antique Clothing Shop,"282 Portobello Rd, London",51.519292,-0.207412,5.0,1,ChIJI0jCwR4QdkgR6TgNlG6H0Io,1.067568,"home_goods_store, point_of_interest, store, es...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.799956,1.00,1.000000,0.979913,0.001984,0.033784
169,Bourbon Hanby Antique - Ian Towning,"151 Sydney St, London",51.487769,-0.169074,4.7,38,ChIJhe_nE2wFdkgREMkNqC-8iio,1.067568,"home_goods_store, jewelry_store, store, point_...",Kensington and Chelsea,1200000.0,767.0,15419.339806,18563.563107,0.797980,0.94,1.000000,0.979913,0.075397,0.033784

In [12]:
# Add a new 'Rank' column to the ranked_shops DataFrame
ranked_shops['Rank'] = ranked_shops['composite_score'].rank(method='min', ascending=False)

# Reset the index to reflect the new ranking order
ranked_shops.reset_index(drop=True, inplace=True)

# Display the ranked shops with their respective rank
display(ranked_shops[['Shop_Name', 'Address', 'composite_score', 'Rank']])

,Shop_Name,Address,composite_score,Rank
0,Beyond Retro Soho,"19-21 Argyll St, London",1.021924,1.0
1,Rokit Covent Garden,"42 Shelton St, London",0.920279,2.0
2,ATIKA,"55-59 Hanbury St, London",0.842290,3.0
3,Hornets,"2 & 4 Kensington Church Walk, London",0.812194,4.0
4,AntikBar - Original Vintage Posters,"404 King's Rd, London",0.803861,5.0
...,...,...,...,...
458,Frankie Lou Vintage,"12-20 Rosina St, London",0.075038,459.0
459,House of Vintage,"388 Old St, London",0.075038,459.0
460,The Vintage Exchange,"291 Mitcham Rd, London",0.064936,461.0
461,Sense,"4 Winslade Way, London",0.043218,462.0
462,Bumbelina Vintage,"51 Wotton Rd, London",0.037110,463.0

In [16]:
ranked_shops.to_csv('ranked_shops.csv')

In [15]:
import os

ranked_shops = pd.read_csv('./data/ranked_shops.csv')
files = os.listdir(directory)

for filename in files:
    print(filename)

01_Data_Collection
Documentation
.DS_Store
02_Data_Preprocessing
.gitignore
.env
venv
03_EDA
04_Model
.git